# Thông tin
19521216 - Trần Huỳnh Kỳ Anh

In [2]:
!pip install --upgrade geopandas
!pip install --upgrade pyshp

!pip install --upgrade shapely

!pip install --upgrade descartes

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 4.9 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 45.3 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 38 kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.1
Collecting pyshp
  Downloading pyshp-2.1.3.tar.gz (219 kB)
     |████████████████████████████████| 219 kB 4.9 MB/s
Building wheels for collected packages: pyshp
  Building wheel for pyshp (setup.py) ... done
  Created wheel for pyshp: filename=pyshp-2.1.3-py3-none-any.whl size=37325 sha256=af3feaa93b093668cf651ba38411a3086e154018f9e490946f3d2202290b5842
  Stored in directory: /root/.cache/pip/wheels/43/f8/87/53c8cd41545ba20e536ea29a8fcb5431b5f477ca50d5dffbbe
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-2.1.3
Requirement already satisfied: shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->descartes) (1.15.0)

In [3]:
!git clone https://github.com/CityScope/CSL_HCMC

Cloning into 'CSL_HCMC'...
remote: Enumerating objects: 1930, done.
remote: Counting objects: 100% (590/590), done.
remote: Compressing objects: 100% (315/315), done.
remote: Total 1930 (delta 308), reused 500 (delta 269), pack-reused 1340
Receiving objects: 100% (1930/1930), 179.02 MiB | 23.94 MiB/s, done.
Resolving deltas: 100% (985/985), done.
Checking out files: 100% (542/542), done.

In [9]:
import geopandas as gpd
sharpfile_path = "/content/CSL_HCMC/Data/GIS/Population/population_HCMC/population_shapefile/Population_Ward_Level.shp"
data = gpd.read_file(sharpfile_path)

In [10]:
data.head(10)

           Com_Name  ...                                           geometry
0          Tan Dinh  ...  POLYGON ((684350.511 1193546.266, 684363.810 1...
1          Ben Nghe  ...  POLYGON ((686564.657 1193462.473, 686588.924 1...
2      Cau Ong Lanh  ...  POLYGON ((685922.373 1190479.807, 685914.160 1...
3  Nguyen Thai Binh  ...  POLYGON ((685966.333 1190513.667, 685944.353 1...
4          Co Giang  ...  POLYGON ((685514.573 1190211.431, 685547.521 1...
5           Cau Kho  ...  POLYGON ((685087.109 1189764.171, 685071.109 1...
6   Nguyen Cu Trinh  ...  POLYGON ((684274.478 1189553.138, 684268.911 1...
7      Pham Ngu Lao  ...  POLYGON ((684480.676 1191195.697, 684513.525 1...
8            Ward 8  ...  POLYGON ((683895.205 1193439.952, 683899.429 1...
9            Ward 7  ...  POLYGON ((683866.522 1191920.051, 683866.213 1...

[10 rows x 12 columns]

In [97]:
area_max = data['Shape_Area'].max()

com_area_max = data[data["Shape_Area"] == area_max]

print("Phường có diện tích lớn nhất:")
com_area_max[['Com_Name','Dist_Name','Shape_Area']]

Phường có diện tích lớn nhất:

    Com_Name Dist_Name    Shape_Area
204  Ly Nhon   Can Gio  1.611939e+08

In [98]:
pop2019_max = data['Pop_2019'].max()
com_pop2019_max = data[data["Pop_2019"] == pop2019_max]
print("Phường có dân số 2019 đông nhất")
com_pop2019_max[['Com_Name','Dist_Name','Pop_2019']]

Phường có dân số 2019 đông nhất

       Com_Name   Dist_Name  Pop_2019
168  Vinh Loc A  Binh Chanh  124709.0

In [99]:
area_min = data['Shape_Area'].min()
com_area_min = data[data["Shape_Area"] == area_min]
print("Phường có diện tích nhỏ nhất:")
com_area_min[['Com_Name','Dist_Name','Shape_Area']]

Phường có diện tích nhỏ nhất:

   Com_Name    Dist_Name     Shape_Area
71   Ward 3  District 10  101642.928821

In [100]:
pop2019_min = data['Pop_2019'].min()
com_pop2019_min = data[data["Pop_2019"] == pop2019_min]
print("Phường có dân số nhỏ nhất 2019:")
com_pop2019_min[['Com_Name','Dist_Name','Pop_2019']]

Phường có dân số nhỏ nhất 2019:

     Com_Name   Dist_Name  Pop_2019
218  An Khanh  District 2     223.0

In [101]:
data_pop = data.copy()

data_pop.insert(11,"Growth_Pop",((data["Pop_2019"] - data["Pop_2009"])+ data["Pop_2019"])/data["Pop_2019"])
data_pop.head(5)
growth_pop_max = data_pop["Growth_Pop"].max()
com_growth_pop_max = data_pop[data_pop["Growth_Pop"]== growth_pop_max]
print("Phường có tốc độ tăng trưởng dân số lớn nhất:")
com_growth_pop_max[['Com_Name','Dist_Name','Growth_Pop']]

Phường có tốc độ tăng trưởng dân số lớn nhất:

    Com_Name   Dist_Name  Growth_Pop
211  Phu Huu  District 9    1.672983

In [102]:
growth_pop_min = data_pop["Growth_Pop"].min()
com_growth_pop_min = data_pop[data_pop["Growth_Pop"]== growth_pop_min]
print("Phường có tốc độ tăng trưởng dân số nhỏ nhất:")
com_growth_pop_min[['Com_Name','Dist_Name','Growth_Pop']]

Phường có tốc độ tăng trưởng dân số nhỏ nhất:

     Com_Name   Dist_Name  Growth_Pop
218  An Khanh  District 2  -68.219731

In [103]:
data_pop.insert(11,"Vol_Pop",(abs(data["Pop_2019"] - data["Pop_2009"])))
vol_pop_max = data_pop["Vol_Pop"].max()
com_vol_max = data_pop[data_pop["Vol_Pop"]== vol_pop_max]
print("Phường có biến động dân số lớn nhất: ")
com_vol_max[['Com_Name','Dist_Name','Vol_Pop']]

Phường có biến động dân số lớn nhất:

       Com_Name   Dist_Name  Vol_Pop
168  Vinh Loc A  Binh Chanh  74763.0

In [104]:
vol_pop_min = data_pop["Vol_Pop"].min()
com_vol_min = data_pop[data_pop["Vol_Pop"]== vol_pop_min]
print("Phường có biến động dân số thấp nhất: ")
com_vol_min[['Com_Name','Dist_Name','Vol_Pop']]

Phường có biến động dân số thấp nhất:

    Com_Name   Dist_Name  Vol_Pop
105   Ward 2  Binh Thanh      4.0

In [105]:
data_pop = data.copy()
data_pop.insert(7,"Den_Pop_2019",(data["Pop_2019"]/data['Shape_Area']))
den_pop_max = data_pop["Den_Pop_2019"].max()
com_den_pop_max = data_pop[data_pop["Den_Pop_2019"]== den_pop_max]
print("Phường có mật độ dân số lớn nhất: ")
com_den_pop_max[['Com_Name','Dist_Name','Den_Pop_2019']]

Phường có mật độ dân số lớn nhất:

   Com_Name   Dist_Name  Den_Pop_2019
16   Ward 8  District 4      0.096193

In [106]:
den_pop_min = data_pop["Den_Pop_2019"].min()
com_den_pop_min = data_pop[data_pop["Den_Pop_2019"]== den_pop_min]
print("Phường có mật độ dân số nhỏ nhất: ")
com_den_pop_min[['Com_Name','Dist_Name','Den_Pop_2019']]

Phường có mật độ dân số nhỏ nhất:

    Com_Name Dist_Name  Den_Pop_2019
204  Ly Nhon   Can Gio      0.000033