<a href="https://colab.research.google.com/github/lphuong304/CS116.M11/blob/main/Practice%20In%20Class/19520227/BaiTap7/19520227_BT7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align="center"><strong>BÀI TẬP  - 19/10/2021</strong></h1>
<h1 align="center"><strong>LẬP TRÌNH PYTHON CHO MÁY HỌC CS116.M11 - BÀI TOÁN PHÂN LỚP </strong></h1>

# GIỚI THIỆU:

1. Họ và tên: Nguyễn Ngọc Lan Phương
2. MSSV: 19520227 - KHMT2019
3. Lớp: CS116.M11
4. Bài tập: Bài toán phân lớp.
5. Ngày thực hiện: 19/10/2021

##1. Import Packages

In [ ]:
import pandas as pd 
import os
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns 
from scipy import stats
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn import metrics
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

##2. Load data

In [ ]:
!gdown --id 1vFk63n3YATMLGauFCovSHgmXUi1vhxMM

Downloading...
From: https://drive.google.com/uc?id=1vFk63n3YATMLGauFCovSHgmXUi1vhxMM
To: /content/Social_Network_Ads.csv
100% 4.90k/4.90k [00:00<00:00, 3.78MB/s]

In [ ]:
data = pd.read_csv('/content/Social_Network_Ads.csv')

In [ ]:
data.head(10)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0
5   27            58000          0
6   27            84000          0
7   32           150000          1
8   25            33000          0
9   35            65000          0

In [ ]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

##3. Normalize data

In [ ]:
scalerX = StandardScaler().fit_transform(X)

##4.Chia tập dữ liệu +  Áp dụng các Classifier để tính toán + Tính độ chính xác (trong một hàm **kFold_each_model()**

In [ ]:
def kFold_each_model(model, n_splits):
  evaluate = KFold(n_splits=n_splits, random_state=None)
  model = model
  
  acc_score = []
  
  for train_index , test_index in evaluate.split(X):
      X_train , X_test = scalerX[train_index,:],scalerX[test_index,:]
      y_train , y_test = y[train_index] , y[test_index]
      
      model.fit(X_train,y_train)
      predictY = model.predict(X_test)
      
      acc = accuracy_score(predictY , y_test)
      acc_score.append(acc)
      
  avg_acc_score = round(sum(acc_score)/n_splits,3)
  acc_score.append(avg_acc_score)
  return acc_score, X_test, y_test, predictY

###4.1 KNN

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5)
acc_score_knn, X_test, y_test_knn, predictY_knn = kFold_each_model(knn, 5)
y_test_knn.shape
# fig = plt.figure(figsize=(8,8))
# plt.scatter(X_test, predictY_knn)
# plt.show()

(80,)

##4.2 SVM

In [ ]:
svc = SVC()
acc_score_svm= kFold_each_model(svc, 5)
acc_score_svm

[0.95, 0.975, 0.825, 0.85, 0.9375, 0.908]

##4.3 Decision Tree

In [ ]:
dtree = DecisionTreeClassifier()
acc_score_dtree = kFold_each_model(dtree, 5)
acc_score_dtree

[0.875, 0.95, 0.825, 0.8, 0.8375, 0.858]

##4.4 Naive Bayes

In [ ]:
NB = GaussianNB()
acc_score_nb = kFold_each_model(NB, 5)
acc_score_nb

[0.9, 0.9375, 0.825, 0.825, 0.8, 0.857]

##4.5 Random Forest

In [ ]:
RF = RandomForestClassifier()
acc_score_rf= kFold_each_model(RF, 5)
acc_score_rf

[0.9375, 0.9625, 0.8125, 0.85, 0.875, 0.888]

##4.6 Logistic Regression

In [ ]:
lr = LogisticRegression()
acc_score_lr = kFold_each_model(lr, 5)
acc_score_lr

[0.7875, 0.9125, 0.825, 0.8375, 0.75, 0.822]

##4.7 SVM Kernel polynomial

In [ ]:
svcpoly = SVC(kernel='poly')
acc_score_svmpoly= kFold_each_model(svcpoly, 5)
acc_score_svmpoly

[0.8375, 0.95, 0.825, 0.7625, 0.675, 0.81]

##4.8 SVM Kernel RBF

In [ ]:
svcrbf = SVC(kernel='rbf')
acc_score_svmrbf = kFold_each_model(svcrbf, 5)
acc_score_svmrbf

[0.95, 0.975, 0.825, 0.85, 0.9375, 0.908]

#5. Comparision Table

In [ ]:
listofKeys = ['KNN', 'SVM', 'SVM Polyminal', 'SVM RBF', 'Decision Tree', 'Naive Bayes', 'Random Forest', 'Logistic Regression', 'Average']
listofAcc = [acc_score_knn, acc_score_svm,acc_score_svmpoly,acc_score_svmrbf, acc_score_dtree,acc_score_nb,acc_score_rf,acc_score_lr ]

In [ ]:
zipResut = zip(listofKeys, listofAcc)
dictofData = dict(zipResut)
_result = pd.DataFrame(dictofData)
index = ['Fold 1', 'Fold 2', 'Fold 3', 'Fold 4', 'Fold 5', 'Average']
_result.index = index
_result

           KNN     SVM  ...  Random Forest  Logistic Regression
Fold 1   0.950  0.9500  ...         0.9375               0.7875
Fold 2   0.950  0.9750  ...         0.9625               0.9125
Fold 3   0.825  0.8250  ...         0.8125               0.8250
Fold 4   0.850  0.8500  ...         0.8500               0.8375
Fold 5   0.900  0.9375  ...         0.8750               0.7500
Average  0.895  0.9080  ...         0.8880               0.8220

[6 rows x 8 columns]