<h1 align="center"><b>CS116.M11 - LẬP TRÌNH PYTHON CHO MÁY HỌC</b></h1>
<h1 align="center"><b>BÀI TẬP 8 - NGÀY 02/11/2021</b></h1>

# **Thông tin sinh viên**

1. ***MSSV:*** 19520214
2. ***Họ tên:*** Cao Hưng Phú
3. ***Bài tập:*** Bài tập 8
4. ***Ngày thực hiện:*** 02/11/2021

# **Bài làm**

### **Các hàm và thư viện cần thiết**

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter("ignore")

### **Bước 1: Load dữ liệu Churn_Modelling.csv**

In [2]:
# Tải file Churn_Modelling.csv từ GoogleDrive
!gdown --id "18Q1gEuudoy0w2oAsB-5zhdasiTfJ77ni"

# Gán path file Churn_Modelling.csv
path_data = "/content/Churn_Modelling.csv"

# Đọc file Churn_Modelling.csv
df = pd.read_csv(path_data)

# Hiển thị 5 dòng đầu của data
df.head(5)

Downloading...
From: https://drive.google.com/uc?id=18Q1gEuudoy0w2oAsB-5zhdasiTfJ77ni
To: /content/Churn_Modelling.csv
100% 685k/685k [00:00<00:00, 89.3MB/s]

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
data = df[list(df.columns)[3:]]

data.head(5)

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

### **Bước 2: Chuyển đổi các dữ liệu dạng không có thứ tự**

In [4]:
OneHotData = pd.get_dummies(data, columns = ['Geography', 'Gender'])

In [5]:
OneHotData.head(5)

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 14 columns]

### **Bước 3: Chia ra làm 2 phần train và test với tỉ lệ 8:2**

In [6]:
X_data = OneHotData[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', \
                     'Geography_France', 'Geography_Germany', 'Geography_Spain', \
                     'Gender_Female', 'Gender_Male']]
y_data = OneHotData[['Exited']]

In [7]:
X_data.head(5)

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 13 columns]

In [8]:
import numpy as np
from sklearn.model_selection import train_test_split

X = np.array(X_data)
y = np.array(y_data)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
print("Len train:", len(X_train))
print("Len test:", len(X_test))

Len train: 8000
Len test: 2000

### **Bước 4: Chuẩn hóa đặc trưng với StandardScaler**

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
standard_X_train = scaler.fit_transform(X_train)
standard_X_test = scaler.fit_transform(X_test)

### **Bước 5: Build mạng Neural Network**

In [12]:
import tensorflow as tf
from tensorflow import keras

In [24]:
model = keras.Sequential()
model.add(keras.layers.Flatten(input_shape=standard_X_train[0].shape))
model.add(keras.layers.Dense(6, activation=tf.nn.relu))
model.add(keras.layers.Dense(6, activation=tf.nn.relu))
model.add(keras.layers.Dense(1, activation=tf.nn.sigmoid))
model.compile(optimizer = keras.optimizers.Adam(lr=0.01), loss = keras.losses.binary_crossentropy, metrics = ['accuracy'])

In [25]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_6 (Flatten)          (None, 13)                0
_________________________________________________________________
dense_18 (Dense)             (None, 6)                 84
_________________________________________________________________
dense_19 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_20 (Dense)             (None, 1)                 7
=================================================================
Total params: 133
Trainable params: 133
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.fit(standard_X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.4593 - accuracy: 0.7945
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4014 - accuracy: 0.8269
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8515
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3609 - accuracy: 0.8540
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3565 - accuracy: 0.8574
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.8586
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3501 - accuracy: 0.8577
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8572
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3493 - accuracy: 0.8604
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3488 - accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3471 - accuracy: 0.8606
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3471 - accuracy: 0.8604
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3463 - accuracy: 0.8625
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8624
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8635
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3440 - accuracy: 0.8619
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8615
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8591
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3448 - accuracy: 0.8608
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8597
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3443 - accuracy: 0.8602
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8639
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8627
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8630
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8606
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3426 - accuracy: 0.8600
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8602
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8593
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8602
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8624
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8615
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8596
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8614
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8616
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8612
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8625
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8597
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8625
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8597
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8621
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8620
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8629
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8624
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8637
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8626
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8643
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8616
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8616
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8599
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8618
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8643
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8612
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8641
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8624
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8620
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8621
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8630
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8618
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8631
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8622
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8611
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8631
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8637
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8634
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8641
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8612
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8626
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8625
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8641
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8637
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8622
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8658
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8631
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8625
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8604
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8616
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8637
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8635
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8640
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8645
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8626
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8629
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8639
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8625
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8635
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8649
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8636
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8620
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8644
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8648
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8640
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8619
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8633
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8630
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8646
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8644
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8631
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8626
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8648

### **Bước 6: Test và đánh giá độ chính xác**

In [16]:
y_predict = model.predict(standard_X_test)

In [17]:
from sklearn.metrics import classification_report

threshold = 0.5
y_pred = y_predict.reshape(-1)
y_pred[y_pred < threshold] = 0
y_pred[y_pred >= threshold] = 1
y_pred = y_pred.astype('int')

print('Classification Report')
print(classification_report(y_test, y_pred))

Classification Report
              precision    recall  f1-score   support

           0       0.87      0.97      0.92      1607
           1       0.78      0.38      0.52       393

    accuracy                           0.86      2000
   macro avg       0.82      0.68      0.72      2000
weighted avg       0.85      0.86      0.84      2000

### **Bước 7: Thử nghiệm xem với khách hàng có thông tin sau thì có nên exit hay không?**

In [18]:
def getResult(scaler, model, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary):
  data_custom = np.array([[CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary]], dtype=object)
  pandas_custom = pd.DataFrame(data_custom, columns=['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'])
  onehot_custom = pd.get_dummies(pandas_custom, columns = ['Geography', 'Gender'])
  pandas_column = ['Geography_France', 'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male']
  for col in pandas_column:
    if col not in pandas_custom:
      pandas_custom[col] = 0
  for col in pandas_column:
    if col in onehot_custom:
      pandas_custom[col] = onehot_custom[col]
  del pandas_custom['Geography']
  del pandas_custom['Gender']

  X_custom_scaler = scaler.transform(np.array(pandas_custom, dtype='float'))
  return model.predict(X_custom_scaler)[0][0]

In [19]:
"""
Geography: France
Credit Score: 600
Gender: Male
Age: 40 years old
Tenure: 3 years
Balance: $ 60000
No.of Products: 2
Has credit card: Yes
Active Member: Yes
Estimated Salary: $50000
"""

resCustom = getResult(scaler, model, 600, 'France', 'Male', 40, 3, 60000, 2, 1, 1, 50000)
intCustom = 1 if resCustom >= 0.5 else 0 
strCustom = "Exit" if intCustom == 1 else "No Exit"
print("Kết quả: {:.4f} ~ {} -> {}".format(resCustom, intCustom, strCustom))

Kết quả: 0.0392 ~ 0 -> No Exit

### **Bước 8: Đánh giá độ chính xác của kiến trúc này bằng phương pháp KFold Cross Validation với K=5**

In [20]:
X = StandardScaler().fit_transform(np.array(X_data))
y = np.array(y_data)

In [21]:
from sklearn.model_selection import KFold

k = 1
list_loss = []
list_acc = []
kfold = KFold(n_splits=5, shuffle=True)

for train, test in kfold.split(X, y):

  model = keras.Sequential()
  model.add(keras.layers.Flatten(input_shape=X[0].shape))
  model.add(keras.layers.Dense(6, activation=tf.nn.relu))
  model.add(keras.layers.Dense(6, activation=tf.nn.relu))
  model.add(keras.layers.Dense(1, activation=tf.nn.sigmoid))
  model.compile(optimizer = keras.optimizers.Adam(lr=0.01), loss = keras.losses.binary_crossentropy, metrics = ['accuracy'])
  
  print("=================================================================")
  print("Training fold {}".format(k))
  history = model.fit(X[train], y[train], batch_size = 32, epochs = 100, verbose = 0)

  scores = model.evaluate(X[test], y[test], verbose=0)
  print("-> Result fold {}: Loss: {:.4f} - Accuracy: {:.4f}%".format(k, scores[0], scores[1] * 100))
  print("\n")

  list_loss.append(scores[0])
  list_acc.append(scores[1] * 100)

  k += 1

=================================================================
Training fold 1
-> Result fold 1: Loss: 0.3361 - Accuracy: 86.3500%


=================================================================
Training fold 2
-> Result fold 2: Loss: 0.3040 - Accuracy: 87.7500%


=================================================================
Training fold 3
-> Result fold 3: Loss: 0.3704 - Accuracy: 84.4000%


=================================================================
Training fold 4
-> Result fold 4: Loss: 0.3476 - Accuracy: 85.5000%


=================================================================
Training fold 5
-> Result fold 5: Loss: 0.3618 - Accuracy: 85.2500%

In [22]:
print("Average loss: {:.2f}".format(np.mean(list_loss)))
print("Average accuracy: {:.2f}%".format(np.mean(list_acc)))

Average loss: 0.34
Average accuracy: 85.85%